APP_NAME=Testbench
APP_ENV=testing
APP_KEY=base64:dY2RGwL3lXtuyRgSV5UQNAdVmJpe8b4dOremiVpHn7w=
APP_DEBUG=false
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

# LOGGING CONFIGURATION
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"

# Database configurations
DB_CONNECTION=sqlite
DB_DATABASE=":memory:"

# AWS configurations for cloud storage
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION="us-east-1"
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

# AWS Cognito configurations
AWS_COGNITO_REGION="us-east-1"
AWS_COGNITO_VERSION="latest"
AWS_COGNITO_ADD_USER_DELIVERY_MEDIUMS="EMAIL"
AWS_COGNITO_TOKEN_STORAGE="file"
AWS_COGNITO_FORCE_NEW_USER_PASSWORD=false
AWS_COGNITO_ALLOW_PHONE_NUMBER=false
AWS_COGNITO_WEB_PREFIX=""
AWS_COGNITO_API_PREFIX=""
AWS_COGNITO_USER_POOL_ID=
AWS_COGNITO_CLIENT_ID=
AWS_COGNITO_CLIENT_SECRET=
AWS_COGNITO_PASSWORD_POLICY=
AWS_COGNITO_SIGNIN_POLICY="PASSWORD,WEB_AUTHN,EMAIL_OTP"
AWS_COGNITO_MFA_SETUP="OFF"
AWS_COGNITO_MFA_TYPE="SOFTWARE_TOKEN_MFA"
AWS_COGNITO_ALLOWED_AUTH_FLOWS="ALLOW_REFRESH_TOKEN_AUTH,ALLOW_USER_PASSWORD_AUTH,ALLOW_USER_AUTH"
AWS_COGNITO_ALLOW_PASSKEYS=true
AWS_COGNITO_ENABLE_TOKEN_REVOCATION=true
AWS_COGNITO_AUTH_SESSION_VALIDITY=180
AWS_COGNITO_DEFAULT_USER_GROUP="default"

# Cache Configurations
CACHE_STORE="file"

# Session Configurations
SESSION_DRIVER="file"
SESSION_LIFETIME=10
SESSION_EXPIRE_ON_CLOSE=true
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

PHP_CLI_SERVER_WORKERS=1

AUTH_PASSWORD_TIMEOUT=3600

# PHP Unit configurations
AUTH_VALID_CREDENTIALS=
